<% layout("layouts/boilerplate") %>

    <div class="row">
        <h1 class="text-center">Edit Course</h1>
        <div class="col-6 offset-3">
            <form action="/courses/<%=selectedCourse._id%>?_method=PUT" method="POST" class="validated-form"
                enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="course[name]" required
                        value="<%=selectedCourse.name%>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Green Fee</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" type="number" id="price" placeholder="0.00" name="course[price]"
                            required value="<%=selectedCourse.price%>">
                    </div>
                </div>
                <div class="mb-3">
                    <label class=" form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="course[description]"
                        required><%=selectedCourse.description%></textarea>
                </div>
                <div class="mb-3">
                    <label class=" form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="course[location]" required
                        value="<%=selectedCourse.location%>">
                </div>
                <div class="mb-3 custom-file">
                    <label for="images" class="form-label">Add More Image(s)</label>
                    <input name="image" class="form-control" type="file" id="images" multiple>
                </div>
                <div class="mb-3">
                    <% selectedCourse.images.forEach((img, index)=> { %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>"
                                id="image-<%= index %>">
                        </div>
                        <label for="image-<%= index %>">Delete</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Course</button>
                </div>
            </form>
            <a href="/courses/<%=selectedCourse._id%>">Back to Course</a>
        </div>
    </div>